<p id="notice"><%= notice %></p>

<h1>Listing Studenttests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Birthday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studenttests.each do |studenttest| %>
      <tr>
        <td><%= studenttest.name %></td>
        <td><%= studenttest.lastname %></td>
        <td><%= studenttest.birthday %></td>
        <td><%= link_to 'Show', studenttest %></td>
        <td><%= link_to 'Edit', edit_studenttest_path(studenttest) %></td>
        <td><%= link_to 'Destroy', studenttest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studenttest', new_studenttest_path %>
